.title{
    font-size: 250%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}
#container{
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}
.hot_date{
    text-align: center;
    margin-top: 2em;
}
.jumbotron{
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    margin-top: -9px;
}
#title_home{
    display: inline-block;
    font-size: 15px !important;
    margin-bottom: 9px;
}