{% extends 'base.html' %}
{% load staticfiles  %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/blog_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info">
                    <li>作者: {{ blog.author }}</li>
                    <li>博客类型:<a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>更新时间: {{ blog.last_update_time|date:"Y-n-j G:i" }}</li>
                    <li>阅读数: {{ blog.get_read_num }}</li>
                </ul>
                <p class="blog-detail-content">{{ blog.content|safe }}</p>
                <ul>
                    {% if not previous_blog.pk == None %}
                        <li>上一篇: <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a></li>
                    {% endif %}
                    {% if not next_blog.pk == None %}
                        <li>下一篇: <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}